In [1]:
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
from collections import Counter

# ANALYSE NAME_BASICS.CSV

In [2]:
name_DF = pd.read_csv("name_basics.tsv", sep = "\t", low_memory = False)

In [3]:
name_DF.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0031983,tt0072308,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0060827,tt0050986,tt0083922"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0038109,tt0077711,tt0034583,tt0036855"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0043265,tt0042593,tt0033870,tt0034583"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0047296,tt0070849,tt0068646,tt0078788"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0087803,tt0061184,tt0059749,tt0057877"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0029870,tt0042041,tt0031867,tt0035575"

In [4]:
name_DF.columns

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [5]:
name_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11305008 entries, 0 to 11305007
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 517.5+ MB

In [6]:
name_DF.describe()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
count,11305008,11305008,11305008,11305008,8868710,11305008
unique,11305008,8788725,505,443,20540,4671057
top,nm0000001,David Smith,\N,\N,actor,\N
freq,1,338,10769050,11110770,2014856,2098778

In [7]:
name_DF.isna().sum()

nconst                     0
primaryName                0
birthYear                  0
deathYear                  0
primaryProfession    2436298
knownForTitles             0
dtype: int64

In [8]:
name_DF.isin(['\\N']).sum(axis = 0)

nconst                      0
primaryName                 0
birthYear            10769050
deathYear            11110770
primaryProfession           0
knownForTitles        2098778
dtype: int64

In [24]:
print(name_DF['primaryProfession'].unique())

['soundtrack,actor,miscellaneous' 'actress,soundtrack'
 'actress,soundtrack,music_department' ...
 'talent_agent,actor,cinematographer'
 'music_department,script_department,casting_department'
 'editor,costume_designer,director']

# ANALYSE TITLE_AKAS.CSV

In [10]:
akas_DF = pd.read_csv("title_akas.tsv", sep = "\t", low_memory = False)

In [14]:
akas_DF.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0

In [15]:
akas_DF.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [16]:
akas_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29499660 entries, 0 to 29499659
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.8+ GB

In [17]:
akas_DF.describe()

           ordering
count  2.949966e+07
mean   3.997313e+00
std    3.429602e+00
min    1.000000e+00
25%    2.000000e+00
50%    3.000000e+00
75%    6.000000e+00
max    1.710000e+02

In [43]:
akas_DF.isna().sum()

titleId              0
ordering             0
title                3
region             101
language             0
types                0
attributes           0
isOriginalTitle      0
dtype: int64

In [11]:
akas_DF.isin(['\\N']).sum(axis = 0)

titleId                   0
ordering                  0
title                     0
region              1938834
language            6034937
types              24304271
attributes         29268111
isOriginalTitle        2189
dtype: int64

In [25]:
print(akas_DF['types'].unique())

['imdbDisplay' '\\N' 'original' 'alternative' 'dvd' 'festival' 'working'
 'tv' 'video' 'imdbDisplay\x02tv' 'alternative\x02tv'
 'imdbDisplay\x02working' 'festival\x02imdbDisplay' 'tv\x02working'
 'imdbDisplay\x02video' 'alternative\x02dvd' 'tv\x02video'
 'dvd\x02imdbDisplay' 'alternative\x02working' 'video\x02working'
 'alternative\x02video' 'festival\x02working' 'dvd\x02video'
 'alternative\x02festival']

In [31]:
print(akas_DF['attributes'].unique())

['\\N' 'literal title' 'literal English title'
 'informal alternative title' 'promotional title' 'complete title'
 'literal translation of working title' 'premiere title' 'informal title'
 'short title' 'première title' 'bowdlerized title' 'reissue title'
 'informal English title' 'alternative spelling' 'original script title'
 'copyright title' 'long title' 'transliterated title'
 'informal short title' 'new title' 'review title' 'subtitle'
 'original subtitled version' 'informal literal title' 'cut version'
 'video catalogue title' 'second part title' 'fourth season title'
 'third part title' 'fifth season title' 'series title' 'poster title'
 '8mm release title' 'recut version' 'pre-release title'
 'theatrical title' 'first part title' 'informal literal English title'
 'segment title' 'Los Angeles première title' 'DVD box title'
 'second copyright title' '16mm release title' 'short version'
 'video box title' 'rerun title' 'restored version'
 'english transliteration' 'recut version\x02reissue title'
 '8mm release title\x02short version' 'alternative transliteration'
 'anthology series' 'censored version' 'DVD menu title' 'trailer title'
 'silent version' 'Berlin film festival title' 'Cannes festival title'
 'dubbed version'
 'added framing sequences and narration in Yiddish\x02reissue title'
 'bootleg title' 'Bable dialect title' 'Venice film festival title'
 'Yiddish dubbed\x02reissue title' 'cable TV title'
 'uncensored intended title' 'last season title' 'Yiddish dubbed'
 'TV listings title' 'YIVO translation' 'orthographically correct title'
 'modern translation' 'long new title' "director's cut"
 'POLart\x02video box title' 'POLart' 'cut version\x02reissue title'
 'YIVO translation\x02reissue title' 'racier version'
 'redubbed comic version' 'syndication title' 'fake working title'
 'closing credits title' 'armed forces circuit title'
 'reissue title\x02short version' 'weekend title' 'first season title'
 'summer title' 'longer version' 'first episode title'
 'second season title' 'sixth season title' 'first two episodes title'
 'first episodes title' 'first three episodes title' 'Pay-TV title'
 'tenth season title' '3-D version' 'MIFED title' '3-D video title'
 'literal French title' 'third and fourth season title'
 'new syndication title' 'promotional abbreviation' 'ninth season title'
 'eighth season title' 'X-rated version' 'expansion title'
 'correct transliteration' '16mm rental title' 'fourteenth season title'
 'teaser title' 'daytime version title' 'seventh season title'
 'third season title' 'video CD title' 'LD title' 'soft porn version'
 'unauthorized video title' 'cut version\x02video box title'
 'racier version\x02reissue title'
 '8mm release title\x02second part title'
 'English translation of working title' 'twentyfifth season title'
 'twentieth season title' 'fifteenth season title' 'fourth part title'
 'thirtysecond season title' 'informal title\x02literal title'
 'cable TV title\x02cut version' 'twentyfirst season title'
 'closing credits title\x02pre-release title' 'Los Angeles premiere title'
 'IMAX version' 'non-modified Hepburn romanization'
 'Locarno film festival title' 'eleventh season title'
 'first four episodes title' 'longer version\x02rerun title'
 'eighteenth season title' 'nineteenth season title'
 'twentyseventh season title' 'thirtieth season title'
 'thirteenth season title' 'twentysecond season title'
 'seventeenth season title' 'sixteenth season title'
 'thirtythird season title' 'twelfth season title'
 'thirtyfirst season title' 'twentythird season title' 'game box title'
 'title for episodes with guest hosts'
 'approximation of original mirrored title' 'videogame episode'
 'IMAX version\x02promotional title' 'twentyfourth season title'
 'twentysixth season title' 'X-rated version\x02bootleg title'
 'poster title\x02video box title' 'dubbed version\x02recut version'
 'twentyninth season title' 'thirtyfourth season title'
 'American Mutoscope & Biograph catalog title' 'R-rated version'
 'original pilot title' 'thirtysixth season title'
 'thirtyseventh season title' 'twentyeighth season title'
 'thirtyninth season title' 'thirtyeighth season title'
 'thirtyfifth season title' 'fortieth season title' 'Hakka dialect title'
 'Bilbao festival title' 'promotional title\x02thirteenth season title'
 'orthographically correct title\x02video box title' 'late Sunday edition'
 'PC version' 'fourth season title\x02recut version' 'GameCube version'
 'third segment title' 'first segment title' 'second segment title'
 'fifth part title' 'incorrect title' 'rumored']

# ANALYSE TITLE_BASICS.CSV

In [12]:
basics_DF = pd.read_csv("title_basics.tsv", sep = "\t", low_memory = False)

In [18]:
basics_DF.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,short,Miss Jerry,Miss Jerry,0,1894,\N,40,"Romance,Short"
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

In [19]:
basics_DF.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [20]:
basics_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8365530 entries, 0 to 8365529
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 574.4+ MB

In [21]:
basics_DF.describe()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,8365530,8365530,8365522,8365522,8365530,8365530,8365530,8365530,8365520
unique,8365530,12,4000418,4019194,9,150,96,854,2296
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,\N,\N,\N,Drama
freq,1,6147724,41161,41161,8109594,1004351,8282309,6014316,913579

In [42]:
basics_DF.isna().sum()

tconst             0
titleType          0
primaryTitle       8
originalTitle      8
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [13]:
basics_DF.isin(['\\N']).sum(axis = 0)

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 1
startYear         1004351
endYear           8282309
runtimeMinutes    6014316
genres             644626
dtype: int64

In [26]:
print(basics_DF['titleType'].unique())

['short' 'movie' 'tvEpisode' 'tvSeries' 'tvShort' 'tvMovie' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame' 'tvPilot' 'radioEpisode']

In [27]:
print(basics_DF['isAdult'].unique())

['0' '1' '2019' '1981' '2020' '2017' '\\N' '2014' '2005']

In [28]:
print(basics_DF['genres'].unique())

['Documentary,Short' 'Animation,Short' 'Animation,Comedy,Romance' ...
 'Mystery,Reality-TV,Thriller' 'Musical,Reality-TV,Talk-Show'
 'Comedy,Mystery,Talk-Show']

In [35]:
# A PEAUFINER CAR ERREUR "name 'Documentary' is not defined"

# liste_genres = basics_DF['genres'].apply(eval)
# liste_genres = liste_genres['genres'].str.split(",")
# liste_genres = liste_genres.explode('genres')
# liste_genres['genres'].value_counts()

NameError: name 'Documentary' is not defined

# ANALYSE TITLE_EPISODE.CSV

In [14]:
episode_DF = pd.read_csv("title_episode.tsv", sep = "\t", low_memory = False)

In [22]:
episode_DF.head(10)

      tconst parentTconst seasonNumber episodeNumber
0  tt0020666   tt15180956            1             2
1  tt0020829   tt15180956            1             1
2  tt0021166   tt15180956            1             3
3  tt0021612   tt15180956            2             2
4  tt0021655   tt15180956            2             5
5  tt0021663   tt15180956            2             6
6  tt0021664   tt15180956            2             4
7  tt0021701   tt15180956            2             1
8  tt0021802   tt15180956            2            11
9  tt0022009   tt15180956            2            10

In [23]:
episode_DF.columns

Index(['tconst', 'parentTconst', 'seasonNumber', 'episodeNumber'], dtype='object')

In [24]:
episode_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6147538 entries, 0 to 6147537
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 187.6+ MB

In [25]:
episode_DF.describe()

           tconst parentTconst seasonNumber episodeNumber
count     6147538      6147538      6147538       6147538
unique    6147538       164582          373         15697
top     tt0020666    tt0058796            1            \N
freq            1        14305      3067648       1247521

In [41]:
episode_DF.isna().sum()

tconst           0
parentTconst     0
seasonNumber     0
episodeNumber    0
dtype: int64

In [15]:
episode_DF.isin(['\\N']).sum(axis = 0)

tconst                 0
parentTconst           0
seasonNumber     1247521
episodeNumber    1247521
dtype: int64

# ANALYSE TITLE_PRINCIPALS.CSV

In [16]:
principals_DF = pd.read_csv("title_principals.tsv", sep = "\t", low_memory = False)

In [26]:
principals_DF.head(10)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
5,tt0000003,1,nm0721526,director,\N,\N
6,tt0000003,2,nm1770680,producer,producer,\N
7,tt0000003,3,nm1335271,composer,\N,\N
8,tt0000003,4,nm5442200,editor,\N,\N
9,tt0000004,1,nm0721526,director,\N,\N

In [27]:
principals_DF.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [28]:
principals_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47303102 entries, 0 to 47303101
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.1+ GB

In [29]:
principals_DF.describe()

           ordering
count  4.730310e+07
mean   4.570047e+00
std    2.775390e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    7.000000e+00
max    1.000000e+01

In [40]:
principals_DF.isna().sum()

tconst        0
ordering      0
nconst        0
category      0
job           0
characters    0
dtype: int64

In [17]:
principals_DF.isin(['\\N']).sum(axis = 0)

tconst               0
ordering             0
nconst               0
category             0
job           39695605
characters    23823489
dtype: int64

In [29]:
print(principals_DF['category'].unique())

['self' 'director' 'cinematographer' 'composer' 'producer' 'editor'
 'actor' 'actress' 'writer' 'production_designer' 'archive_footage'
 'archive_sound']

In [30]:
print(principals_DF['job'].unique())

['\\N' 'director of photography' 'producer' ...
 "based upon 'Star Trek Enterprise' created by"
 'short story "Your Iron Lady"' 'original screenplay "Teorie tygra"']

# ANALYSE TITLE_RATINGS.CSV

In [18]:
ratings_DF = pd.read_csv("title_ratings.tsv", sep = "\t", low_memory = False)

In [30]:
ratings_DF.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1827
1  tt0000002            6.0       234
2  tt0000003            6.5      1582
3  tt0000004            6.1       152
4  tt0000005            6.2      2405
5  tt0000006            5.2       157
6  tt0000007            5.4       751
7  tt0000008            5.5      1980
8  tt0000009            5.9       190
9  tt0000010            6.9      6582

In [31]:
ratings_DF.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [32]:
ratings_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195013 entries, 0 to 1195012
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1195013 non-null  object
 1   averageRating  1195013 non-null  float64
 2   numVotes       1195013 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 27.4+ MB

In [33]:
ratings_DF.describe()

       averageRating      numVotes
count   1.195013e+06  1.195013e+06
mean    6.924075e+00  9.773343e+02
std     1.394210e+00  1.634822e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.100000e+00  2.400000e+01
75%     7.900000e+00  9.100000e+01
max     1.000000e+01  2.473613e+06

In [39]:
ratings_DF.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [19]:
ratings_DF.isin(['\\N']).sum(axis = 0)

tconst           0
averageRating    0
numVotes         0
dtype: int64

# ANALYSE TITLE_CREW.CSV

In [20]:
crew_DF = pd.read_csv("title_crew.tsv", sep = "\t", low_memory = False)

In [34]:
crew_DF.head(10)

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0005690,nm0374658         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [35]:
crew_DF.columns

Index(['tconst', 'directors', 'writers'], dtype='object')

In [36]:
crew_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8365530 entries, 0 to 8365529
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 191.5+ MB

In [37]:
crew_DF.describe()

           tconst directors  writers
count     8365530   8365530  8365530
unique    8365530    833760  1144303
top     tt0000001        \N       \N
freq            1   3540958  4099030

In [38]:
crew_DF.isna().sum()

tconst       0
directors    0
writers      0
dtype: int64

In [21]:
crew_DF.isin(['\\N']).sum(axis = 0)

tconst             0
directors    3540958
writers      4099030
dtype: int64