In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
principals_DF = pd.read_csv('D:/Data analyst/Wild code school/Projets/Projet 2 - Pandas/BD/title.principals.tsv', sep = '\t')

In [3]:
#Filtrer les acteurs
Actors = principals_DF[(principals_DF['category'].str.contains('actor', na = False)) 
                  | (principals_DF['category'].str.contains('actress', na = False))]

In [4]:
name_DF = pd.read_csv('D:/Data analyst/Wild code school/Projets/Projet 2 - Pandas/BD/name.basics.tsv', sep = '\t')

In [5]:
actors2 = Actors.merge(name_DF, how = 'left', left_on = 'nconst', right_on = 'nconst')

In [9]:
actors2 = actors2.drop(columns=['knownForTitles', 'job', 'characters', 'primaryProfession'])

In [12]:
actors2.head()

,tconst,ordering,nconst,category,primaryName,birthYear,deathYear
0,tt0000005,1,nm0443482,actor,Charles Kayser,1878,1966
1,tt0000005,2,nm0653042,actor,John Ott,1850,1931
2,tt0000007,1,nm0179163,actor,James J. Corbett,1866,1933
3,tt0000007,2,nm0183947,actor,Peter Courtney,1867,1896
4,tt0000008,1,nm0653028,actor,Fred Ott,1860,1936

In [13]:
actors2.to_csv (r'D:\Data analyst\Wild code school\Projets\Projet 2 - Pandas\acteursFilmNom.csv', index = False, header=True)