In [3]:
import numpy as np
import pandas as pd

In [4]:
name_DF = pd.read_csv('D:/Data analyst/Wild code school/Projets/Projet 2 - Pandas/BD/name.basics.tsv', sep = '\t')

In [5]:
name_DF.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0050419,tt0053137,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0071877,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0077975,tt0072562,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0083922,tt0050986,tt0050976"

In [6]:
#Filtrer les acteurs
nameActors = name_DF[(name_DF['primaryProfession'].str.contains('actor', na = False)) 
                  | (name_DF['primaryProfession'].str.contains('actress', na = False))]

In [7]:
#Filtrer les vivants et ceux dont on connai la date de naissance
vivActeurs = nameActors[(nameActors['deathYear'] == r'\N') & (nameActors['birthYear'] != r'\N')]

In [8]:
vivActeurs.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404"
46,nm0000047,Sophia Loren,1934,\N,"actress,soundtrack","tt0054749,tt0060121,tt0076085,tt0058335"
78,nm0000079,Raquel Welch,1940,\N,"actress,soundtrack,producer","tt0061653,tt0062708,tt0066115,tt0072281"
83,nm0000084,Gong Li,1965,\N,actress,"tt0397535,tt0473444,tt0430357,tt0101640"
86,nm0000087,Elena Koreneva,1953,\N,"actress,casting_director,soundtrack","tt0122969,tt7529350,tt0123138,tt5847740"
89,nm0000090,Armin Mueller-Stahl,1930,\N,"actor,director,writer","tt0765443,tt0119174,tt0963178,tt0117631"
90,nm0000091,Gérard Pirès,1942,\N,"director,writer,actor","tt0282552,tt0421974,tt0152930,tt0064297"
91,nm0000092,John Cleese,1939,\N,"actor,writer,producer","tt0085959,tt0063929,tt0071853,tt0095159"
92,nm0000093,Brad Pitt,1963,\N,"actor,producer,soundtrack","tt0356910,tt1210166,tt0114746,tt2935510"
94,nm0000095,Woody Allen,1935,\N,"writer,director,actor","tt0075686,tt0091167,tt0079522,tt0097123"

In [9]:
#ajouter une colonne "age" en prenant l'écart entre la date de naissance et la dte actuelle
vivActeurs['birthYear'] = pd.to_numeric(vivActeurs['birthYear'])
vivActeurs = vivActeurs.assign(age = 2021 - vivActeurs['birthYear'])

C:\Users\clefe\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
#ajoute une colonne sur le sexe
vivActeurs = vivActeurs.assign(sexe = 'M')

In [11]:
#ajoute une colonne sur le sexe
def sexe(pp):
    if 'actor' in pp:
        return 'M'
    else:
        return 'F'
    
vivActeurs['sexe'] = vivActeurs['primaryProfession'].apply(sexe)
vivActeurs.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,age,sexe
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404",87,F
46,nm0000047,Sophia Loren,1934,\N,"actress,soundtrack","tt0054749,tt0060121,tt0076085,tt0058335",87,F
78,nm0000079,Raquel Welch,1940,\N,"actress,soundtrack,producer","tt0061653,tt0062708,tt0066115,tt0072281",81,F
83,nm0000084,Gong Li,1965,\N,actress,"tt0397535,tt0473444,tt0430357,tt0101640",56,F
86,nm0000087,Elena Koreneva,1953,\N,"actress,casting_director,soundtrack","tt0122969,tt7529350,tt0123138,tt5847740",68,F
89,nm0000090,Armin Mueller-Stahl,1930,\N,"actor,director,writer","tt0765443,tt0119174,tt0963178,tt0117631",91,M
90,nm0000091,Gérard Pirès,1942,\N,"director,writer,actor","tt0282552,tt0421974,tt0152930,tt0064297",79,M
91,nm0000092,John Cleese,1939,\N,"actor,writer,producer","tt0085959,tt0063929,tt0071853,tt0095159",82,M
92,nm0000093,Brad Pitt,1963,\N,"actor,producer,soundtrack","tt0356910,tt1210166,tt0114746,tt2935510",58,M
94,nm0000095,Woody Allen,1935,\N,"writer,director,actor","tt0075686,tt0091167,tt0079522,tt0097123",86,M

In [51]:
moy = round(vivActeurs['age'].mean(),1)

dfFemme = vivActeurs[vivActeurs['sexe'] == 'F']
nbFemme = dfFemme['sexe'].count()
moyFemme = round(dfFemme['age'].mean(),1)

dfHomme = vivActeurs[vivActeurs['sexe'] == 'M']
nbHomme = dfHomme['sexe'].count()
moyHomme = round(dfHomme['age'].mean(),1)

print(f"La moyenne d'age des actrices et acteurs vivants est de {moy} ans.")
print(f"Il y a {nbFemme} actrices vivantes avec une moyenne d'age de {moyFemme} ans et {nbHomme} acteurs vivants avec une moyenne d'age de {moyHomme} ans.")

La moyenne d'age des actrices et acteurs vivants est de 52.0 ans.
Il y a 95276 actrices vivantes avec une moyenne d'age de 50.2 ans et 124246 acteurs vivants avec une moyenne d'age de 53.3 ans.